#content div.post-page-head-area.bauhaus {
	padding: 0 0 70px;
	margin-bottom: 2em;
}

#content .post-page-head-area.bauhaus .post-title {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0;
	line-height: 70px;
}

#content .post-page-head-area.bauhaus .post-page-thumbnail {
	position: static;
	transform: none;
	min-width: auto;
	min-height: auto;
	opacity: 1;
}
#content .post-page-head-area.bauhaus .post-page-thumbnail img {
	margin: 0;
}
